<ion-header color="primary" img src="assets/header.jpeg">
  <ion-toolbar >
    <ion-title>findOJT

      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header translucent>

  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle >Makati, Manila</ion-card-subtitle>
      <ion-card-title>Microsoft</ion-card-title>
      <img src="assets/micro.jpeg" alt="microsoft" >
    </ion-card-header>
    
    <ion-card-content>
      Microsoft Aspire Experience is an onboarding experience, 
      designed to equip, develop and empower those who join 
      Microsoft after graduating from undergraduate school, 
      MBA programs, or special job placement programs. 
      As a company, we look to these bright talented individuals
      to shape the future of our company, to spark the next 
      waves of disruptive innovations, and most importantly, 
      to help discover new ways to accomplish our mission. 
      For this reason, our mission is to empower our university 
      hires to achieve more.
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start" color="primary"></ion-icon>
      <ion-label>Join Internship</ion-label>
      <ion-button (click)="microsoft()" fill="outline" slot="end"  >apply</ion-button>
      
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Metro Manila</ion-card-subtitle>
      <ion-card-title>SwissTank Media Manila</ion-card-title>
      <img src="assets/swisstank.jpeg" alt="swis">
    </ion-card-header>
    
    <ion-card-content> 
      SwissTank is a company dedicated to developing 
      brands and products internationally. We 
      utilize modern toolsets in design, marketing 
      and business development to grow brands and 
      deliver an outstanding customer experience. 
      The company is dedicated to each team member 
      and aims to enable a permanent growth in the 
      professional and personal field, whilst 
      developing new skills that allow them a high 
      excellence degree in search of the benefit 
      of our customers.
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"color="primary"></ion-icon>
      <ion-label>Join Internship</ion-label>
      <ion-button (click)="findojt()" fill="outline" slot="end">apply</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Taguig Metro Manila</ion-card-subtitle>
      <ion-card-title>Willis Towers Watson</ion-card-title>
      <img src="assets/willistowers.jpeg" alt="willis">
    </ion-card-header>
    
    <ion-card-content> 
      We are Willis Towers Watson, a leading global
      advisory, broking and solution company that 
      helps clients around the world turn risk into 
      a path for growth. With offices all over the world, 
      a breadth of business functions and supportive 
      experts at every turn, there’s so much to 
      discover about us - and yourself. As you grow 
      and develop within our inclusive culture, 
      you’ll gain the confidence you need to think
      around the problem, and beyond.
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"color="primary"></ion-icon>
      <ion-label>Join Internship</ion-label>
      <ion-button (click)="findojt()" fill="outline" slot="end">apply</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Taguig Metro Manila</ion-card-subtitle>
      <ion-card-title>Procter and Gamble</ion-card-title>
      <img src="assets/pandg.jpeg" alt="pg">
    </ion-card-header>
    
    <ion-card-content>
        
      The Dream P&G Internship is a flagship program
      offered to promising and driven undergraduate 
      students interested in getting best-in-class 
      trainings and growing as a leader. You will 
      get to join our Manila Information Technology 
      organization and get to know more about other 
      departments – Brand Management, Consumer & 
      Market Knowledge, Finance & Accounting, Human 
      Resources, Information Technology, Sales, or 
      Product Supply.
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"color="primary"></ion-icon>
      <ion-label>Join Internship</ion-label>
      <ion-button (click)="findojt()" fill="outline" slot="end">apply</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Makati Metro Manila</ion-card-subtitle>
      <ion-card-title>AltPayNet Corp</ion-card-title>
      <img src="assets/altpay.png" alt="alt">
    </ion-card-header>
    
    <ion-card-content>
      Exposures on the following areas:
      Software Development (Web Applications, 
      Mobile Applications in iOS and Android),
      Software Testing / Quality Assurance, 
      Cloud (Amazon AWS), Application Programming 
      Interface (API), Database Management 
      (SQL, NoSQL) Requirements:, Candidate must
      be currently pursuing a Bachelor's/College
      Degree in Mathematics, Computer Science/
      Information Technology, Computer Engineering
      or equivalent.Required skill(s): Java, 
      JavaScript, PHP, HTML5, Perl, Python, CSS3, 
      MySQL Internship position(s) for duration
      of 3 month(s). WE DO NOT ENTERTAIN WALK-INS.

    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"color="primary"></ion-icon>
      <ion-label>Join Internship</ion-label>
      <ion-button (click)="findojt()" fill="outline" slot="end">apply</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
