
  <ion-card>
    <img src="assets/header.jpeg" alt="header">
      <h6>HOME</h6>
    </ion-card>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <img src="assets/ojt.png" alt="ojt">
      <ion-card-subtitle>Internship App for IT Students</ion-card-subtitle>
      <ion-card-title>OJT Mobile</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Finding internship can be so easy with the use of OJT Mobile, in this time of pandemic we can easily start internship using our smartphones. 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Find Internship</ion-label>
      <ion-button (click)="findojt()" fill="outline" slot="end" color="secondary">GO</ion-button>
    </ion-item>
    <ion-card-content>
      Find and view list of available internship programs.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>My Internship</ion-label>
      <ion-button (click)="myojt()" fill="outline" slot="end" color="secondary">GO</ion-button>
    </ion-item>
    <ion-card-content>
      View your enrolled internship.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card>
      <ion-item color="primary">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Task</ion-label>
        <ion-button (click)="task()" fill="outline" slot="end"color="secondary">GO</ion-button>
      </ion-item>
      <ion-card-content>
        View your task to do.
      </ion-card-content>
    </ion-card> 
    </ion-card>
      
  <ion-card>
    <ion-card>
      <ion-item color="primary">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Grade</ion-label>
        <ion-button (click)="grade()" fill="outline" slot="end"color="secondary">GO</ion-button>
      </ion-item>
      <ion-card-content>
        View your assessment and grades.
      </ion-card-content>
    </ion-card> 
  </ion-card>
    
</ion-content>

