<ion-header>
  <ion-toolbar>
    <ion-title>My Internship</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card>
        <ion-card-header color="primary">
          <ion-card-subtitle>You have successfully applied to Mircosoft Makati Manila. Please provide the requirements needed. Kindly contact microsoft@gmail.com for updates.</ion-card-subtitle>
          <ion-card-title>Thank you!</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Applied to: Microsoft Makati Manila 
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item color="primary">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-button>DONE</ion-button>
        </ion-item>
       
      </ion-card>
      
    </ion-card-content>

  </ion-card>
</ion-content>
