<ion-header>
  <ion-toolbar>
    <ion-title>My Internship</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card>
        <ion-card-header color="primary">
          <ion-card-subtitle>BS IT/Batangas State University</ion-card-subtitle>
          <ion-card-title>Eva Arano</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Applied to: Microsoft Makati Manila 
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item color="primary">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Log Out</ion-label>
          <ion-button (click)="logMeIn()" fill="outline" slot="end" color="secondary">EXIt</ion-button>
        </ion-item>
       
      </ion-card>
      
    </ion-card-content>

  </ion-card>
</ion-content>
