<ion-header >
  <ion-toolbar>
    <ion-title color="primary">Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="primary">
      <ion-label >No task available. </ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item >
      <ion-label ></ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item >
      <ion-label >Assessment</ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label >Quality of Work</ion-label>
      <ion-label>--/20</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Quantity of Work</ion-label>
      <ion-label>--/20</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Dependability </ion-label>
      <ion-label>--/10</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Judgement</ion-label>
      <ion-label>--/10</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Cooperation</ion-label>
      <ion-label>--/10</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Attendance</ion-label>
      <ion-label>--/10</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Courtesy</ion-label>
      <ion-label>--/10</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total Rating</ion-label>
      <ion-label>--/100</ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>
